/* Estilos personalizados para la aplicación */

/* Fondo degradado azul marino */
body {
  background-color: #052135;
  background-image: linear-gradient(to bottom, #052135, #003366);
}

/* Fondos de las cards */
.card {
  background-color: #f8f9fa;
}

/* Texto en las cards */
.card-text {
  color: #333;
}
/* Estilos personalizados para la aplicación */

/* Fondo degradado azul marino */
body {
  background-color: #052135;
  background-image: linear-gradient(to bottom, #052135, #003366);
}

/* Fondos de las cards */
.card {
  background-color: #f8f9fa;
}

/* Texto en las cards */
.card-text {
  color: #333;
}
